<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Pathway+Gothic+One|Peddana|Special+Elite" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<section id="header">
    <div id="nav">
        <!--<div id="logo">-->
            <!--<h1 id="nenos">Nenos<span id="cleaning">Cleaning</span></h1>-->
        <!--</div>-->
        <div id="links">
            <input type="button" class="link1" value="Services">
            <input type="button" class="link1" value="Book Now">
        </div>
        <div id="login-join">
            <input type="button" id="login" value="Login">
            <input type="button" id="join" value="Join">
        </div>
    </div>

    <div id="content-header">
    <div id="text">
        <h2 id="second-h2">Cleaning <br> Service</h2>
        <h1 id="first-h1" >South Bay Area</h1>
        <!--<h2 id="first-h2"> Instantly book a trusted cleaning team!</h2>-->
    </div>

    <div id="bxs-opt">

    <div id="bx-border"></div>

    <div id="options">

        <h1 id="h1-drop">Book a trusted cleaning team!</h1>

        <p id="p-drop">Contact us to get the best offer from our agents!</p>

            <div id="drops-box">

        <div id="form_bedroom" class="wrapper-dropdown-3" tabindex="1">
            <span id="form_input_bedroom">Bedroom</span>
            <ul class="dropdown" id="bedrooms">
                <li id="bd-1"><a href="#">1 bedroom</a></li>
                <li id="bd-2"><a href="#">2 bedrooms</a></li>
                <li id="bd-3"><a href="#">3 bedrooms</a></li>
                <li id="bd-4"><a href="#">4 bedrooms</a></li>
                <li id="bd-5"><a href="#">5 bedrooms</a></li>
                <li id="bd-6"><a href="#">6 bedrooms</a></li>
            </ul>
        </div>

        <div id="form_bathroom" class="wrapper-dropdown-3" tabindex="1">
            <span id="form_input_bathroom">Bathroom</span>
            <ul class="dropdown" id="bathrooms">
                <li id="bt-1"><a href="#">1 bathroom</a></li>
                <li id="bt-2"><a href="#">2 bathrooms</a></li>
                <li id="bt-3"><a href="#">3 bathrooms</a></li>
                <li id="bt-4"><a href="#">4 bathrooms</a></li>
                <li id="bt-5"><a href="#">5 bathrooms</a></li>
                <li id="bt-6"><a href="#">6 bathrooms</a></li>
            </ul>
        </div>

        <div id="form_frequency" class="wrapper-dropdown-3" tabindex="1">
            <span id="form_input_frequency">Frequency</span>
            <ul class="dropdown" id="frequency">
                <li id="one"><a href="#">One-time</a></li>
                <li id="week"><a href="#">Weekly</a></li>
                <li id="biweek"><a href="#">Biweekly</a></li>
                <li id="month"><a href="#">Monthly</a></li>
                <li id="triweek"><a href="#">Tri-weekly</a></li>
            </ul>
        </div>

            </div>



        <div id="price">
            <p id="total"> Total: <span id="value">$98</span></p>
            <input type="button" id="appointment-but" value="Schedule an Appointment">
        </div>
    </div>
    </div>
    </div>
</section>



<section id="container1">
    <div id="text3">
        <h1 id="second-h1">Why choose NenosClean?</h1>
        <p id="p2">iQ is all about making your life convenient, simple and easy.</p>
    </div>

    <div id="icons">
    <div class="icon-1">
        <img class="icon-img" src="/assets/computer-icon.png" alt="" style="width: 80px; height: 80px;">
        <h1 class="icon-h1">Convenient & Simple</h1>
        <p class="icon-p">iQ is all about making things smarter, not harder! That’s why we’ve made booking online fast and easy.</p>
    </div>
    <div class="icon-1">
        <img class="icon-img" src="/assets/ok2.png" alt="" style="width: 80px; height: 80px;">
        <h1 class="icon-h1">High Quality Service</h1>
        <p class="icon-p">If you’re looking for a local cleaning company you can trust that provides reliability, experience, and expertise.</p>
    </div>
    <div class="icon-1">
        <img class="icon-img" src="/assets/hand.png" alt="" style="width: 80px; height: 80px;">
        <h1 class="icon-h1">Happiness Guaranteed</h1>
        <p class="icon-p">iQ is committed to your satisfaction! Our goal is to wow you by exceeding your expectations with spectacular services!</p>
    </div>
    </div>

</section>

<section id="container2">

    <div id="text4">
        <h1 id="third-h1">Book Anytime, Anywhere!</h1>
        <ul id="first-ul">
            <li class="li-2">Same cleaners every time.</li>
            <li class="li-2">No contracts and no admin fees.</li>
            <li class="li-2">Secure online payment.</li>
            <li class="li-2">Quick same-day booking confirmation.</li>
            <li class="li-2">Weekend appointments available.</li>
            <li class="li-2">Superior customer service always available.</li>
        </ul>

        <input type="button" id="book-clean" value="Book a Cleaning">
    </div>
    
    <div id="cont2-img">
        <img src="/assets/mockup.png" alt="" id="mockup-img" style="width: 550px; height: 650px;">
    </div>
</section>

<section id="container3">
    <div id="text5">
        <h2 id="fourth-h2">Simple & Easy...</h2>
        <h1 id="fourth-h1">See How It Works!</h1>
    </div>
    <div id="icons2">
        <div class="icon-2">
            <img id="icon-img-1" src="/assets/cal1.png" alt="" style="width: 120px; height: 120px;">
            <h2 class="icon-h2">Book</h2>
            <p class="icon-p-2">Tell us when and where you want your home cleaned.</p>
        </div>

            <div class="separa"></div>

        <div class="icon-2">
            <img id="icon-img-2" src="/assets/broom.png" alt="" style="width: 120px; height: 120px;">
            <h2 class="icon-h2">Clean</h2>
            <p class="icon-p-2">A certified iQ team near you comes over and cleans your place.</p>
        </div>

            <div class="separa"></div>

        <div class="icon-2">
            <img id="icon-img-3" src="/assets/medal.png" alt="" style="width: 120px; height: 120px;">
            <h2 class="icon-h2">Relax</h2>
            <p class="icon-p-2">Sit back and relax. Enjoy your sparkling home!</p>
        </div>
    </div>

</section>

    <section id="container4">
      <div id="content-cont4">
          <div id="cont4-img"></div>
          <div id="cont4-text">
              <h1 id="cont4-h1">LET US DO <br> YOUR DIRTY WORK!</h1>
              <div id="input3">
                  <input type="button" id="v-services" value="View our Services">
              </div>
          </div>
      </div>
    </section>


<section id="container5">
        <div id="cont5-text">
       <h1 id="cont5-h1">SATISFIED CUSTOMERS!</h1>
        </div>
    <div id="box-comments">

        <div class="comment">
            <img src="/assets/Boss-5-icon.png" alt="" class="img-comments" style="width: 80px; height: 80px;">
            <p class="comment-p"><span class="parent">"</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut consequatur dolorem libero mollitia, natus obcaecati repellendus.Aliquid aut consequatur dolorem libero mollitia, natus obcaecati repellendus.<span class="parent">"</span></p>
        </div>
        <div class="comment">
            <img src="/assets/Man-16-icon.png" alt="" class="img-comments" style="width: 80px; height: 80px;">
            <p class="comment-p"><span class="parent">"</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet assumenda blanditiis.Aliquid aut consequatur dolorem libero mollitia, natus obcaecati repellendus.<span class="parent">"</span></p>
        </div>
    </div>


</section>

<section id="container6">

    <div id="content-form-bot">

    <div id="text7">
    <h1 id="sixth-h1">Your home cleaned <br> just the way <br> you like it.</h1>
    </div>

    <div id="bxs-opt-2">

        <div id="bx-border-2"></div>

        <div id="options-2">

            <h1 id="h1-drop-2">Book a trusted cleaning team!</h1>

            <p id="p-drop-2">Contact us to get the best offer from our agents!</p>

            <div id="drops-box-2">

                <div id="form_bedroom-2" class="wrapper-dropdown-3" tabindex="1">
                    <span id="form_input_bedroom-2">Bedroom</span>
                    <ul class="dropdown" id="bedrooms-2">
                        <li id="bd-1-2"><a href="#">1 bedroom</a></li>
                        <li id="bd-2-2"><a href="#">2 bedrooms</a></li>
                        <li id="bd-3-2"><a href="#">3 bedrooms</a></li>
                        <li id="bd-4-2"><a href="#">4 bedrooms</a></li>
                        <li id="bd-5-2"><a href="#">5 bedrooms</a></li>
                        <li id="bd-6-2"><a href="#">6 bedrooms</a></li>
                    </ul>
                </div>

                <div id="form_bathroom-2" class="wrapper-dropdown-3" tabindex="1">
                    <span id="form_input_bathroom-2">Bathroom</span>
                    <ul class="dropdown" id="bathrooms-2">
                        <li id="bt-1-2"><a href="#">1 bathroom</a></li>
                        <li id="bt-2-2"><a href="#">2 bathrooms</a></li>
                        <li id="bt-3-2"><a href="#">3 bathrooms</a></li>
                        <li id="bt-4-2"><a href="#">4 bathrooms</a></li>
                        <li id="bt-5-2"><a href="#">5 bathrooms</a></li>
                        <li id="bt-6-2"><a href="#">6 bathrooms</a></li>
                    </ul>
                </div>

                <div id="form_frequency-2" class="wrapper-dropdown-3" tabindex="1">
                    <span id="form_input_frequency-2">Frequency</span>
                    <ul class="dropdown" id="frequency-2">
                        <li id="one-2"><a href="#">One-time</a></li>
                        <li id="week-2"><a href="#">Weekly</a></li>
                        <li id="biweek-2"><a href="#">Biweekly</a></li>
                        <li id="month-2"><a href="#">Monthly</a></li>
                        <li id="triweek-2"><a href="#">Tri-weekly</a></li>
                    </ul>
                </div>

            </div>

            <div id="price-2">
                <p id="total-2"> Total: <span id="value-2">$98</span></p>
                <input type="button" id="appointment-but-2" value="Schedule an Appointment">
            </div>

        </div>
    </div>
    </div>


</section>

    <section id="footer">
    </section>


<script>
    $(document).ready(function () {
        $("#banner").css({"height":$(window).height() + "px"});

        var flag = false;
        var scroll;

        $(window).scroll(function () {
            scroll = $(window).scrollTop();
            console.log('position');
            console.log(scroll);

            if(scroll > 200){
                if(!flag){
                    $("#logo").css({"margin-top": "2px", "width": "200px", "height": "40px"});

                    $("header").css({"background-color": "#f6f6f6"});
                    flag = true
                }
            } else{
                if(flag){
                    $("#logo").css({"margin-top": "150px", "width": "350px", "height": "100px"});
                    $("header").css({"background-color": "transparent"})
                    flag = false
                }
            }
        })
    });
</script>
</body>
</html>