
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Didact Gothic', sans-serif;
}

#bookingForm{
    margin: 10px;
}

.frm-box{
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    margin-bottom: 40px;
}

.frm-header{
    background-color: #f6f9fa;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.hdr-h3{
    padding:10px 0 10px 20px;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #424242;

}

.hdr-p{
    padding:0 0 10px 20px;
    color: grey;
    letter-spacing: 1px;
    font-weight: 100;
}

.content {
    padding: 10px 0 10px 20px;
}

.separa{
    margin-right: 20px;
    border: 1px solid rgba(0,0,0,0.15);
}

.frm-h4{
    font-size: 1.3rem;
    color: #424242;
    letter-spacing: 0.5px;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 10px;
}

.ipt, .selectpicker{
    width: 300px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
}


#form_first_name, #form_username, #form_apt{
    float: left;
    margin-right: 20px;
}

#form_first_name, #form_username, #form_last_name, #form_password, #form_phone, #form_apt, #form_address, #form_city, #form_zipcode {
    margin-bottom: 10px;
}

#form_city, #form_zipcode{
    width: 220px;
}


#city-state-zip{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 250px 250px 250px;
}

.rdb-form{
    margin: 20px 0 20px 0;

}



.rdb {
    margin-right: 20px;
}

#form_place_keys{
    margin-left: 55px;
}


#form_instructions{
    width: 500px;
    height: 100px;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1rem;
    margin-top:10px;
    margin-bottom: 20px;
}

#form_address, #form_card_number{
    width: 400px;
}

.selectpicker{
    background-color: white;
    color: #5c5d5d;
    margin-bottom: 10px;
}

.btn-form{
    width: 120px;
    height: 50px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);
    /*padding: 5px 10px;*/
    border-radius: 3px;
    font-size: 1rem;
    margin-right: 10px;
    margin-bottom: 20px;
    outline: none;
    color: #5c5d5d;

}

.btn-form:active{
    background-color: #21a9d6;
    color: white;
}


.bd-bt{
    display: grid;
    grid-template-columns: 250px 300px;
    margin-bottom: 20px;
}

#one-time, #week, #biweek, #month{
    float: left;
}

#iqv_telladdons{
    width: 300px;
    height: 100px;
    border: 1px solid rgba(0,0,0,0.15);
    margin: 20px 0;
    font-size: 1rem;

}


#month-year{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 250px 300px;
}

.wrapper-dropdown-3:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    /* Styles */
    background: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.15);
    /*box-shadow: 0 1px 1px rgba(50,50,50,0.1);*/
    cursor: pointer;
    outline: none;

    /* Font settings */
    /*font-weight: bold;*/
    color: gray;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 5px 5px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 5px 5px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}